@charset "UTF-8";
ul, h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style: none;
  padding: 10px;
}

h1 {
  text-align: center;
}

h2 {
  padding: 10px;
}

.layout-tags {
  position: absolute;
  top: 0;
  left: 0;
}

.switch-layout {
  width: 98%;
}
.switch-layout li {
  float: left;
  white-space: nowrap;
  padding: 5px 10px;
  line-height: 24px;
  cursor: pointer;
}
.switch-layout li span {
  font-weight: bold;
}
.switch-layout li i {
  font-style: normal;
  font-weight: normal;
}

.header, .ft {
  padding: 10px;
  color: white;
  background: #3fa156;
  font-size: 30px;
  text-align: center;
}

.header {
  margin-top: 250px 0 10px;
  background: #a31e39;
  color: white;
}

.ft {
  clear: both;
  zoom: 1;
}

/*基类 */
.module-a, .module-b, .module-c {
  margin-bottom: 10px;
  color: white;
}

.module-a {
  background: #39b3d7;
}

.module-b {
  background: #f0ad4e;
}

.module-c {
  background: #d9534f;
}

.module-a p, .module-b p, .module-c p {
  padding: 10px;
}

.style0 {
  width: auto;
}

/*固定宽度自适应 */
.style1 {
  width: 960px;
  margin: 0 auto;
}

/*主体先出现 - 左侧固定右侧自适应 */
.style2 .module-a {
  float: right;
  width: 100%;
  margin-left: -200px;
  background: none;
}
.style2 .module-a .module-box {
  margin-left: 200px;
  background: #39b3d7;
}
.style2 .module-b {
  float: right;
  width: 200px;
}
.style2 .module-c {
  clear: both;
  zoom: 1;
}

/*主体先出现 - 右侧固定左侧自适应 */
.style3 .module-a {
  float: left;
  width: 100%;
  margin-left: -200px;
  background: none;
}
.style3 .module-a .module-box {
  margin-left: 200px;
  background: #39b3d7;
}
.style3 .module-b {
  float: left;
  width: 200px;
}
.style3 .module-c {
  clear: both;
  zoom: 1;
}

/*三栏等高 */
.style4 {
  margin-bottom: 10px;
  overflow: hidden;
}
.style4 .module-a, .style4 .module-b, .style4 .module-c {
  float: left;
  width: 33%;
  padding-bottom: 2000px;
  margin-bottom: -2000px;
}

/* 三栏左右固定 中间自适应   固定 百分比 固定 */
.style5 .module-a {
  float: left;
  width: 300px;
}
.style5 .module-b {
  float: right;
  width: 300px;
}
.style5 .module-c {
  background: none;
}
.style5 .module-c .module-box {
  margin: 0 300px;
  _margin: 0 297px;
  background: #d9534f;
}

/*左两栏固定右侧自适应 固定 固定 百分比 */
.style6 .module-a, .style6 .module-b {
  float: left;
  width: 300px;
}
.style6 .module-c {
  float: left;
  width: 100%;
  margin-left: -600px;
  background: none;
}
.style6 .module-c .module-box {
  margin-left: 600px;
  background: #d9534f;
}

/*左两栏固定右侧自适应 百分比 固定 固定 */
.style7 .module-a {
  float: left;
  width: 100%;
  margin-left: -600px;
}
.style7 .module-a .module-box {
  margin-left: 600px;
}
.style7 .module-b, .style7 .module-c {
  float: right;
  width: 300px;
}

/*中间固定左右自适应A 百分比 固定 百分比 */
.style8 .module-a {
  float: left;
  width: 50%;
  margin-left: -251px;
}
.style8 .module-a .module-box {
  margin-left: 251px;
}
.style8 .module-b {
  float: left;
  width: 500px;
}
.style8 .module-c {
  float: left;
  width: 50%;
  margin-left: -251px;
  background: none;
}
.style8 .module-c .module-box {
  margin-left: 251px;
  background: #d9534f;
}

/*中间固定左右自适应B 百分比 固定 百分比 */
.style9 .module-a {
  float: left;
  width: 40%;
}
.style9 .module-b {
  float: left;
  width: 400px;
}
.style9 .module-c {
  margin-left: 40%;
  background: none;
}
.style9 .module-c .module-box {
  margin-left: 400px;
  background: #d9534f;
}

/*左侧固定 右两栏自适应 固定 百分比 百分比 */
.style10 .module-a {
  float: left;
  width: 300px;
}
.style10 .module-b {
  float: left;
  width: 40%;
}
.style10 .module-c {
  margin-left: 40%;
  background: none;
}
.style10 .module-c .module-box {
  margin-left: 300px;
  background: #d9534f;
}

/*右侧固定 左两栏自适应 百分比 百分比 固定 */
.style11 .module-a {
  float: left;
  width: 30%;
}
.style11 .module-b {
  float: right;
  width: 300px;
}
.style11 .module-c {
  margin: 0 300px 0 30%;
}
